.App {
  text-align: center;
  min-height: 100%;
  margin-top: 40px;
  padding-bottom: 60px;
}

.App .add-button {
  position: fixed;
  bottom: 80px;
  right: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.note-link {
  margin-top: 10px;
}